{{#partial "content"}}
<section class="row lists-padding">
    <div class="col-8 mx-auto">
        <h5 class="display-6">Animals</h5>
        <table class="table">
        <thead>
            <tr>
            <th>id</th>
            <th>Name</th>
            <th>Health</th>
            <th>Age</th>
            <th>Recorded by</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th>{{id}}</th>
            <th>{{Name}}</th>
            <th>{{Health}}</th>
            <th>{{Age}}</th>
            <th>{{rangerName}}</th>
            </tr>
        </tbody>
        </table>
    </div> 
</section>
{{/partial}}
{{> layout.hbs}}