{{#partial "content"}}
<section class="row lists-padding">
    <div class="col-8 mx-auto">
        <h5 class="display-6">Animals</h5>
        <table class="table">
        <thead>
            <tr>
            <th>id</th>
            <th>Name</th>
            <th>Health</th>
            <th>Age</th>
            <th>Recorded by</th>
            </tr>
        </thead>
        <tbody>
            {{#each}}
                <tr>
                    <th>{{id}}</th>
                    <th>{{name}}</th>
                    <th>{{#if health}}{{health}}{{else}}-{{/if}}</th>
                    <th>{{#if age}}{{age}}{{else}}-{{/if}}</th>
                    <th>{{rangerName}}</th>
                </tr>
            {{/each}}
        </tbody>
        </table>
    </div> 
</section>
{{/partial}}
{{> layout.hbs}}